<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/image/weather.png">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This forecasts from API  <a href="https://weatherstack.com/">WeatherStack</a></p>
        <img class="portrait" src="image/temporale.jpg">

    </div>
    {{>footer}}

</body>
</html>